Configs/Configuration_Scheduler.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SchedulerSettings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Version" type="xs:string" />
				<xs:element name="Author" type="xs:string" />
				<xs:element name="Licence" type="xs:string" />
				<xs:element name="ScriptHeader">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Logo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DefltColor" type="xs:string" />
										<xs:element name="File" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Cartridge">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="xs:string" />
										<xs:element name="Version" type="xs:string" />
										<xs:element name="Author" type="xs:string" />
										<xs:element name="Contributor" type="xs:string" />
										<xs:element name="Licence" type="xs:string" />
										<xs:element name="Description" type="xs:string" />
										<xs:element name="BorderChar" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Prerequesites">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Directory">
								<xs:complexType mixed="true">
									<xs:sequence minOccurs="0">
										<xs:element maxOccurs="unbounded" name="File" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>