Configs/TasksSequence_HardenAD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrganizationalUnits" />
				<xs:element name="GroupPolicies" />
				<xs:element name="Accounts" />
				<xs:element name="Groups" />
				<xs:element name="Scheduling" />
				<xs:element name="Microsoft365" />
				<xs:element name="Sequence">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Id">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CallingFunction" type="xs:string" />
										<xs:element name="UseParameters" type="xs:string" />
										<xs:element name="TaskDescription" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="Number" type="xs:unsignedByte" use="required" />
									<xs:attribute name="Name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>